@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-light: #FFFFFF;
  --color-dark-grey: #262626;
  --color-light-grey: #b8b8b8;
  --color-orange: #E95420;
  --color-light-orange: #e57850;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Ubuntu', sans-serif;
  --font-family-accent: 'Ubuntu', sans-serif;

  --input-height: 3.3rem;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 4.2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.3rem;
  padding-inline: 2rem;
  min-height: var(--header-height);
  background-color: var(--color-dark-grey);

}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  font-size: 1rem;
  line-height: 1.75;
  }

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

a:hover {
  color: var(--color-light-grey);
}

p {
  margin-block: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}


.footer-presser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--color-dark-grey);
}

.header__right {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin-block:0;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

svg *[fill] { fill: currentColor } 
svg *[stroke] { stroke: currentColor }

.logo__icon{
  display: flex;
  align-items: flex-end;
  background-color: var(--color-orange);
  height: 4rem;
  width: 3rem;
  justify-content: center;
  padding-bottom: 0.4rem;
}

.logo__svg {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.logo__title {
  align-self: flex-end;
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 2rem;
  padding-left: 0.6rem;
  line-height: 1.3;
  white-space: nowrap;
}

.logo {
  text-decoration: none;
  display: flex;
  align-self: self-start;
}

.nav-menu {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-menu__list {
  display: flex;
  column-gap: 3rem;
  flex-wrap: wrap;
}

.nav-menu__link {
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  column-gap: 0.6em;
}

.button {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-family-accent);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 0.005em;;
  text-transform: uppercase;
  color: var(--color-light);
  height: 2.4rem;
  background-color: var(--color-orange);
  border-radius: 30px;
  padding-inline: 1.6rem;
  border: none;
  white-space: nowrap;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-light-orange);
  cursor: default;
}

.download-button {
  color: var(--color-dark-grey);
}

.vm-button {
  position: relative;
  height: var(--input-height);
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  padding-left: 1.9rem;
  padding-right: 5rem;
}

.vm-button:hover {
  background-color: var(--color-orange);

}

.vm-button::after {
  content:'';
  position: absolute;
  right: -1px;
  height: 100%;
  aspect-ratio: 1;
  background: url(../assets/icons/mini-arrow-right.svg) center/70% no-repeat;
  border: 1px solid var(--color-light);
  border-radius: 50%;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.banner {
min-height: calc(100vh - var(--header-height));
padding: 0 3.6vw 0 3.6vw;
display: flex;
flex-direction: column;
justify-content: end;
color: var(--color-light);
background-color: var(--color-dark-grey);
text-transform: uppercase;
margin: auto;
}

.banner__info {
  display: flex;
  align-items: end;
}

.banner__text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-accent);
  font-weight: 700;
  color: var(--color-light);
  font-size: clamp(1rem, 1.6vw, 2rem);
  line-height: 1.2;
}

.banner__icon {
  width: 10vw;
  aspect-ratio: 1;
  margin-right: 1.6vw;
  margin-left: 1.5vw;
}

.break::after {
content: "";
display: block;
}

.banner__title {
line-height: 1;
font-size: 22vw;
}

.advantages {
  position: relative;
  z-index: 2;
}

.advantages__list {
  margin-block: 0;
}

.advantages__item:nth-child(even) {
  background-color: var(--color-dark-grey);
}

#enterprise-item {
  background-color: var(--color-dark-grey);
}

.advantages__item:nth-child(even) .feature-card {
  flex-direction: row-reverse;
}

.feature-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 19vw;
  column-gap: clamp(30px, 6vw, 200px);
  
}

.feature-card__body {
  padding-left: 1.8vw;
}

.feature-card__title {
  color: var(--color-light);
  font-size: clamp(1rem, 2.08vw, 2.5rem);
  line-height: 1.3;
}

.feature-card__title:not(:last-child) {
  margin-bottom: 0.9rem;
}

.feature-card__description {
  max-width: 21rem;
  color: var(--color-light-grey);
  font-size: 1rem;
  line-height: 1.75;
}

.feature-card__description:not(:last-child) {
  margin-bottom: 2.3rem;
}

.feature-card__image {
  margin-block: -43px;
  transition-duration: 0.3s;

}

.feature-card__image:hover {
  transform: translateY(-10px);
  transition-duration: 0.3s;
}


.start-now__video {
  width: 100%;
  max-width: 976px;
  height: auto;
}

.start-now__video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  position: relative;
  background: url(../assets/images/notebook_blurred.jpg) center/cover no-repeat var(--color-dark-grey);
}

.content-page-community .content-page__wrapper {
  background: url(../assets/images/community_blur.jpg) center/cover no-repeat;
}

.content-page-freedom .content-page__wrapper {
  background: url(../assets/images/freedom_blur.jpg) center/cover no-repeat;
}

.content-page-enterprise .content-page__wrapper {
  background: url(../assets/images/enterprise_blur.jpg) center/cover no-repeat;
}


.start-now__video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100px;
  aspect-ratio: 1;
  background: url(../assets/icons/play-button.svg) center/100% no-repeat;
  border: 0;
}

.start-now__video-play-button:hover {
  cursor: pointer;
  width: 110px;
  transform: scale(1.05);
}

.start-now__video:hover {
  cursor: pointer;
}

.start-now__title {
  position: relative;
  margin-top: -0.5em;
  color: var(--color-light);
  font-size: clamp(4rem, 9.37vw, 11.3rem);
  line-height: 1;
  text-align: center;
  transition-duration: 0.2s;
  margin-bottom: 130px;
}

.start-now__title::after {
  content:'';
  display: inline-block;
  width: 0.7em;
  aspect-ratio: 1;
  background: url(../assets/icons/arrow.svg) center/contain no-repeat;
  scale: 1 -1;
}

.start-now__title:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.start-now__link:hover {
  color: var(--color-light);
}

.footer {
  color: var(--color-light-grey);
}

.footer__main {
  background-color: var(--color-dark);
}

.footer__main-inner {
  display: flex;
  padding-block: 8.75rem 10rem;
  justify-content: space-between;
  column-gap: 1.88rem;
}

.footer__column-title {
  color: var(--color-light);
  font-size: clamp(1.13rem, 1.15vw, 1.38rem);
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.footer__column-title.has-arrow::after {
  content:'';
  display: inline-block;
  width: 0.74em;
  margin-left: 0.5em;
  aspect-ratio: 1;
  background: url(../assets/icons/arrow.svg) center/contain no-repeat;
  scale: -1 1;
}

.footer__column a {
  text-decoration: underline;
}

.footer__extra {
  padding-block: 0.5rem;
  background-color: var(--color-dark-grey);
}

.footer__soc1als-list {
  display: flex;
  column-gap: 1.13rem;
}

.footer__soc1als-link {
  display: flex;

  align-items: center;
}

.footer__soc1als-icon {
  height: 1.5rem;
}

.page-title {
  color: var(--color-light);
  font-size: clamp(1rem, 2.08vw, 2.5rem);
}

.content {
  background-color: var(--color-dark);
}

.content-page__wrapper {
  padding-bottom:7rem;
}

.content-page__title {
  padding-top: 5rem;
}

.content-page__title {
  font-size: 3rem;
  color: var(--color-light);
  margin-bottom: 2.5rem;
}

.content-page__body {
  display: flex;
  color: var(--color-light-grey);
  font-size: 1.3rem;
  column-gap: 7rem;
}

.content-page__column {
  max-width: 35%;
  text-align: justify;
}

.has-arrow-before::before {
  content: '';
  display: inline-block;
  height: 1em;
  aspect-ratio: 1;
  background: url(../assets/icons/arrow.svg) center/contain no-repeat;
  margin-right: 0.3em;

}

@media (max-width: 1655px) {
  
  .feature-card__image {
  max-width: 40%;
  height: auto;
  }
}

@media (max-width: 1572px) {
  .feature-card__image {
  margin-block: -30px;
  }
}


@media (max-width: 1280px) {
  .feature-card__image {
  margin-block: -20px;
  }
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    row-gap: 0.6rem;
    padding-inline: 1rem; 
  }

  .header__right {
    flex-wrap: wrap;
    padding-top: 1.8rem;
    width: 100%;
    justify-content: start;
  }

.banner {
    min-height: calc(100vh - 13.19rem);
  }

  .nav-menu__link {
    height: 3rem;

  }

  .nav-menu__list {
    padding: 1rem;
    background-color: var(--color-dark-grey);
    margin-top: 0.4rem;
  }

  .feature-card__image {
  max-width: 30%;
  height: auto;
  margin-block: -10px;
  }

  .footer__main {
    padding-block: 3.13rem 5rem ;
  }
}

@media (max-width: 1025px) {
  .feature-card__image {
    margin-block: 0px;
  }

  .start-now__title {
  margin-bottom: 80px;
}
}

@media (max-width: 1012px) {
  .feature-card__image {
  max-width: 30%;
  height: auto;
  margin-block: -20px;
  }

  .start-now__title {
  margin-bottom: 80px;
}
}


@media (max-width: 875px) {
  .feature-card__image {
  margin-block: 0px;
  }
  
  .feature-card {
    padding-block: 50px;
  }
}

@media (max-width: 767px) {
  .feature-card, .advantages__item:nth-child(even) .feature-card {
  flex-direction: column-reverse;
  padding-block: 20px;
  row-gap: 30px;
  }

  .feature-card__image {
  max-width: 60%;
  height: auto;
  }

.feature-card__description:not(:last-child) {
  margin-bottom: 1.25rem;
}

.start-now__video-play-button {
  width: 70px;
}

.start-now__video-play-button:hover {
  cursor: pointer;
  width: 73.5px;
  transform: scale(1.05);
}

.start-now__title {
  margin-bottom: 40px;
}


.footer__main-inner {
  flex-direction: column;
  padding-block: 1rem 2rem;
  row-gap: 2rem;
}

.footer__column-title {
  margin-bottom: 0.7rem;
}
}

@media (max-width: 700px) {
  .content-page__body {
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .content-page__column {
    max-width: 100%;
  }
}

@media (max-width: 677px) {
  .nav-menu__list {
    column-gap: 1.5rem;;
  }

  .header__right {
    column-gap: 1.5rem;
  }
}

@media (max-width: 596px) {
  .nav-menu__list {
    column-gap: 1.5rem;
    padding-block: 0.2rem;
  }

  .header__right {
    column-gap: 1.5rem;
    padding-top: 0.5rem;
  }

  .banner {
    min-height: calc(100vh - 11.9rem);
  }
}

@media (max-width: 443px) {

  .banner {
    min-height: calc(100vh - 15.7rem);
  }
}




@media (max-width: 290px) {

    .header__right {
      flex-wrap: wrap;
      padding-top: 0;
    }

    .logo__icon {
    height: 2rem;
    width: 1rem;
  }

  .logo__svg {
    width: 1rem;
    height: 1rem;

  }
  .logo__title {
      font-size: 1rem;
  }

  .nav-menu__list {
    margin-top: 0.71rem;
    padding-top: 0.8rem;
  }

    .nav-menu__link {
      height:1rem;

  }

  .start-now__video-play-button {
  width: 40px;
}

.start-now__video-play-button:hover {
  cursor: pointer;
  width: 44px;
  transform: scale(1.05);
}

}

@media (max-width: 230px) {

  .download-button {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nav-menu {
    top: 3.5rem;
  }

  .feature-card__description {
  color: var(--color-light-grey);
  font-size: 1rem;
  line-height: 1.75;
  }

  .vm-button {
  height: 1.1rem;
  border-radius: 1.9rem;
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  padding-left: 3px;
  padding-right: 20px;
}

.vm-button::after {
  content:'';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url(../assets/icons/mini-arrow-right.svg) center/70% no-repeat;
}
}
